header{
font-size: 100px;
display: flex;
justify-content: center;
color: #a06342;
background-color: #F3D1DC;
}

body{
    background-color: #f6a7c1;
}

.carousel{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.card{
    margin: 100px;
    padding: 10px 10px 10px;
    background-color: #a23e87;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

